/* Global */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chats Page */
.ce-send-message-button {
  position: absolute;
  bottom: 20px !important;
}
.ce-chats-container {
  background-color: #ffffff !important;
}
.ce-feed-container {
  background-color: black !important;
}
.ce-send-message-button {
  font-size: 10rem !important;
}
.ce-primary-button {
  border-radius: 6px !important;
  background-color: #002766 !important;
  position: relative;
  bottom: 1px;
}
.ce-chat-title-text,
.ce-chat-subtitle-text {
  color: #002766 !important;
}
.ce-their-message-bubble {
  background-color: rgba(220, 220, 220) !important;
}
.ce-user-typing-text,
.ce-message-timestamp {
  color: #002766 !important;
}
.ce-my-message-bubble {
  background-color: #002766 !important;
  color: white;
  margin-right: 1vw;
}
#ce-send-message-button {
  background-color: #002766 !important;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: #ffffff !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #002766 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #002766 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}
.ce-chat-title {
  background-color: #ffffff !important;
  color: #002766 !important;
}
.ce-text-input {
  font-size: 1.2rem !important;
}
.ce-message-input-form {
  background-color: #000000 !important;
}
.ce-avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: 30px !important;
  background-size: 35px !important;
  margin-left: 20%;
}
.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
.nav-bar {
  width: 100%;
  height: 7vh;
  background-color: #002766;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-tab {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  margin-left: 2%;
}

.logout-tab {
  color: white;
  cursor: pointer;
  margin-right: 4%;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/*Chat Feed*/
.chat-feed {
  height: 95vh;
  width: 100%;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

.chat-title-container {
  width: 100%;
  padding: 5% 0%;
  text-align: center;
}

.chat-title {
  color: #2f54eb;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #2f54eb;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 0px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.message {
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  max-width: 60%;
  height: fit-content;
  word-break: break-word;
}

.message-image {
  margin-right: 0px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
/*Message Form*/
.message-form-container {
  position: fixed;
  background-color: #ffffff;
  bottom: 0;
  height: 8vh;
  width: 50vw;
  padding: 0;
}

.messages-container {
  width: 95% !important;
  padding: 0 !important;
  margin-top: 15vh;
}

.message-form {
  overflow: hidden;
  border: 2px solid rgba(128, 128, 128, 0.733);
  border-radius: 10px;
}

.message-input {
  width: calc(100% - 100px);
  height: 5vh;
  border: 1px solid white;
  padding: 0px 10px;
  outline: none;
  font-size: 1.1rem;
  display: inline-block;
  min-width: 30vw;
  max-width: 80vw;
}

.image-button {
  cursor: pointer;
  padding: 0px 10px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}
.image-button:active {
  outline: none !important;
}

.send-button {
  border: none !important;
  cursor: pointer;
  outline: none;
  color: #ffffff;

  border-radius: 20px 10px;
}
.send-button:active {
  outline: none !important;
}

.send-icon,
.camera-icon,
.picture-icon {
  top: 1px;
  font-size: 1.4rem;
  position: relative;
  outline: none;
}

.send-icon:active,
.camera-icon:active,
.picture-icon:active {
  outline: none;
}
/* Login Page */

#login-page {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#login-card {
  padding-top: 20px;
  padding-bottom: 36px;
  margin-bottom: 10vh;
  width: 30vw;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  padding: 12px;
  border-radius: 12px;
  display: inline-block;
  width: 70%;
}
.login-button:hover {
  background-color: #0042ac;
}

.google {
  background-color: #045ae4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
@media (max-width: 1268px) {
  #login-card {
    width: 50vw;
  }

  .login-button {
    width: 60%;
  }
}
@media (max-width: 968px) {
  #login-card {
    width: 50vw;
  }
  .login-button {
    width: 80%;
  }
}
@media (max-width: 588px) {
  #login-card {
    width: 85vw;
  }

  .login-button {
    width: 85%;
  }
  #login-card {
    margin-bottom: 5vh;
  }
  .message-form {
    width: 100%;
    padding: 0px 2px;
  }
  .button {
    margin-bottom: 15vh;
  }
  .message-form-container {
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    padding: 0;
    background-color: #ffffff;
  }
}

@media (max-width: 348px) {
  #login-card {
    width: 95vw;
  }

  .login-button {
    width: 90%;
  }
}
